body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: rgba(255,255,255,.55);
}

h1, h2, h3 {
    font-family: "Joan";
}

h2 {
    padding-right: 1em;
}

.list-group-item {
    color: rgba(255,255,255,.55);
}

.text-purple {
    color: #6b105d;
}

.row-content {
    padding: 10px 0;
    border-bottom: 1px;
    border-bottom-style: ridge;
    min-height: 200px;
    border-color: white;
}

.navbar-dark {
    background-color: rgb(0, 0, 0);
    border-bottom: 1px;
    border-color: white;
}

.transparent {
    background-color: transparent;
}

.thumbnail-img {
    background-color: transparent;
}
